@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .page {
        @apply  
            flex flex-col
            min-h-screen w-full absolute pb-24
            /* Colours */
            bg-primary text-secondary
            dark:bg-secondary dark:text-primary;
    }
    
    .page-header {
            @apply 
                pt-2 w-full
                border-b-[2px] border-dashed
                font-bold
                text-3xl uppercase
                /* colours */
                border-secondary dark:border-yellow;
    }
    .page-dotted-divider {
        @apply border-t-[2px] border-dashed bg-secondary;
    }

    .page-paragraph {
        @apply  px-2 pt-2 pb-2 
                text-base whitespace-pre-wrap
                place-content-center 
                max-w-3xl font-normal
                normal-case
                /* Colours */
                border-secondary;
    }

    .page-dropdown {
        @apply 
            right-0 top-0 rounded-none
            /* Colours */
            bg-primary text-secondary
            /* Extra */
            ;

    }

    .page-dropdown-button {
        @apply 
            border-2
            /* Colours */
            text-secondary border-secondary border-dashed
            dark:text-primary dark:border-primary dark:bg-none
            w-4 h-4;
    }

    .navbar-gradient {
        @apply  ;
    }

    .page-navbar {
        @apply  grid grid-flow-col 
                place-content-center
                w-full px-2 h-[200px]
                content-center
                border-b-[2px] border-dashed
                /* Colours */
                bg-primary dark:bg-secondary
                border-secondary dark:border-primary;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .page-navbar-group {
        @apply flex-none mx-auto place-self-end;
    }

    .page-basic-button {
        @apply  text-start
                border-b-2 border-dashed
                text-secondary border-secondary
                hover:bg-secondary hover:bg-opacity-25
                dark:text-primary dark:border-primary
                dark:hover:bg-primary dark:hover:bg-opacity-25;
    }

    .page-link {
        @apply page-basic-button;
    }

    .page-link-blog-post {
        @apply  page-link text-xl
                mb-2
                /* Colours */
                border-purple
                dark:border-yellow;
    }

    .page-blog-description {
        @apply italic;
    }

    .page-blog-date {
        @apply  italic text-sm;
    }

    .page-list-item {
        @apply  flex flex-col
                border-[2px] border-dashed 
                mt-2 p-4 pt-2 space-y-2
                border-secondary;
    }

    .page-link-button {
        @apply page-link border-[2px] px-2 max-w-[50vw];
    }

    .page-footer {
        @apply 
            border-t-[2px] border-dashed
            grid grid-flow-col
            w-full min-h-fit
            /* Padding */
            px-4 pb-8 pt-1

            space-x-4 justify-items-stretch
            /* Placement */
            justify-start bottom-0 fixed
            /* Colours */
            bg-secondary text-primary
            border-primary;
    }

    .page-footer-header {
        @apply
            font-bold text-base;
    }

    .page-body {
        @apply  flex flex-col
                p-4
                place-items-center;
    }

    .page-sidebar {
        @apply 
            border-l-[2px] border-dashed z-10
            fixed top-0 right-0
            px-4 pt-4
            w-[35vw] h-full 
            /* Colours */
            bg-primary
            border-secondary
            dark:bg-secondary
            dark:border-primary;
    }

    .page-card {
        @apply  card rounded-none
                border-[2px] border-dashed
                border-secondary dark:border-primary;
    }
}