@import "./css/GameDevCorner.css";
@import "./css/Blog.css";
@import "./css/Pages.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fancyButton {
    @apply  relative flex items-center justify-center text-6xl text-center
            h-4 w-auto mt-2 m-1 border-2 px-8 pb-8 pt-8
            drop-shadow-md opacity-100
            bg-slate-700 text-white border-white
            hover:bg-gray-700 hover:text-gray-200 
            rounded-[3rem] hover:rounded-sm
            transition-all duration-100 ease-linear
            cursor-pointer;
  }
  .regularText {
    @apply grid-flow-col text-lg text-base-300 dark:text-white font-bold;
  }
  .regularButton {
    @apply  btn btn-ghost normal-case flex self-center overflow-clip 
            max-w-[3rem] lg:max-w-none max-h-[1rem] lg:max-h-none text-xs;
  }
  .homeButton {
    @apply  regularButton;
  }
  .name {
    @apply  mr-12 w-48 h-auto font-poppins-heading
            text-xs
            text-white font-bold tracking-wide;
  }
  .navbarParent {
    @apply  flex w-full lg:w-screen justify-center pt-4 px-4 space-x-0 opacity-75 text-opacity-100 items-center z-50
            text-xs self-center flex-row space-y-4 md:space-y-0;
    @layer  lg:min-w-screen;
  }
  .navbar {
    @apply  rounded-box lg:rounded-full
            text-xs max-w-fit items-center
            bg-gray-200 text-base-300 dark:bg-base-100 dark:text-white;
  }
  .navbarMenu {
    @apply  menu menu-horizontal flex items-center px-3
            space-x-1 md:space-x-0
            space-y-1 md:space-y-0;
  }
  .page {
    @apply  flex flex-col space-y-4 items-center pt-4 pb-4 h-auto
            text-xs;
  }
  .visitPageButton {
    @apply  regularButton text-primary btn normal-case
            bg-gray-200 text-base-300 dark:bg-base-200 dark:text-gray-200 shadow-gray-200
            hover:bg-gray-100 hover:shadow-gray-500 dark:hover:bg-base-100
            text-xs
            border-gray-300 dark:border-base-300;
  }
  .icon {
    @apply  btn rounded-full p-2 min-w-[2.25rem] min-h-[2.25rem] max-w-[2.25rem] max-h-[2.25rem] border-2
            bg-gray-200 text-base-300 dark:bg-base-200 dark:text-gray-200 shadow-gray-200
            hover:bg-gray-100 dark:hover:bg-base-100
            text-xs
            border-gray-300 dark:border-base-300;
  }
  .threeDModelViewer {
    @apply  w-full h-full min-w-[4rem] p-4 bg-base-300 rounded-box
            text-xs;
  }
  .image {
    @apply max-w-sm rounded-lg shadow-2xl;
  }
  .carousel {
    @apply image;
  }
  .textTitle {
    @apply text-lg lg:text-5xl font-bold;
  }
}

@layer base {
  @font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Courier_Prime';
    src: url('./assets/fonts/Courier_Prime/CourierPrime-Regular.ttf') format('truetype');
  }
}